html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Yatay kaydırmayı engelle */
}

.app {
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-image 0.5s ease-in-out;
  padding: 20px;
  position: relative;
}

.city-info h1 {
  font-size: 5vw; /* Dinamik font boyutu */
  margin: 0;
  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  letter-spacing: -2px;
}

.city-info p {
  font-size: 3vw; /* Dinamik font boyutu */
  margin: 5px 0 0;
  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  letter-spacing: -1px;
}

.city-info {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Daha geniş ekranlara uyum */
  min-height: 100px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.search-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px 20px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  letter-spacing: -1px;
}

.form-control {
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  color: white;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  letter-spacing: -1px;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.suggestion-item:hover,
.suggestion-item.highlight {
  background: rgba(0, 0, 0, 0.1);
}

.about-btn {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  position: absolute;
  top: 20px;
  right: 20px;
}

.about-btn:hover {
  transform: scale(1.1);
}

.about-btn svg {
  fill: white;
  width: 24px;
  height: 24px;
}

.about-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.about-content {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%; /* Daha geniş ekranlar için */
  max-width: 500px; /* Maksimum genişlik */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.about-content h2 {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
}

.about-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.about-content button:hover {
  background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 768px) {
  .city-info h1 {
    font-size: 10vw;
  }

  .city-info p {
    font-size: 5vw;
  }

  .city-info {
    width: 90%; /* Daha geniş ekranlarda %50, mobilde %90 */
    padding: 15px;
  }

  .about-btn {
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
  }

  .about-btn svg {
    width: 20px;
    height: 20px;
  }

  .about-content {
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .city-info h1 {
    font-size: 12vw;
  }

  .city-info p {
    font-size: 6vw;
  }

  .search-bar {
    padding: 10px;
  }

  .form-control {
    font-size: 14px;
  }

  .about-btn {
    width: 40px;
    height: 40px;
    top: 15px;
    right: 15px;
  }

  .about-btn svg {
    width: 20px;
    height: 20px;
  }

  .about-content {
    width: 90%;
    max-width: 350px;
  }
}
